body {
  font-family: sans-serif;
  margin: 0 50px;
  background-image: url("bg.jpg"); 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.demo {
  background-color: #e4a798;
  width: 400px;
  height: 500px;
  border: 2px solid #81533c;
  border-radius: 8px;
  padding: 15px;
  overflow-y: scroll;
}

.demo::-webkit-scrollbar {
  width: 0 !important;
}

#addNew {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(239, 186, 171);
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.fa-plus {
  background-color: #d7a08b;
  padding: 3px;
  border-radius: 3px;
}

#tasks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
}

#tasks div {
  border: 1px solid #e9e4e2;
  background-color: rgb(239, 186, 171);
  border-radius: 6px;
  padding: 5px;
  display: grid;
  gap: 4px;
}

#tasks div .options {
  justify-self: center;
  display: flex;
  gap: 20px;
}

#tasks div .options i {
  cursor: pointer;
}

#msg {
  color: blue;
}
